.lodlive-graph-container {
  width: 110%;
  height: 110%;
  overflow: scroll;
  background-color: #c7c7c7;
  font-family: 'Open Sans', Verdana, sans-serif;
  font-size: 10px;
  position: relative;
}

.lodlive-graph-container a, .lodlive-graph-container a:visited { color: #FFF; }

.lodlive-graph-context {
  position: relative;
  width: 300%;
  height: 300%;
}

.lodlive-node {
  position: absolute;
  z-index: 97;
}

.lodlive-node .ll-node-anchor {
  position: relative;
  height: 0;
  top: 0;
  left: 0;
  width: 0;
}

.lodlive-node .lodlive-node-label {
  width: 126px;
  height: 126px;
  position: relative;
  border-radius: 65px;
  background: none;
  background-color: #369;
  top: 0;
  left: 0;
  color: #FFF;
}

.lodlive-node .boxTitle {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin: auto;
  height: auto;
  line-height: 13px;
  width: 90%;
  color: #FFF;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
}

.lodlive-node .actionBox {
  background: #FFF;
  box-shadow: 1px 1px 2px;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  width: 20px;
  height: 20px;
  border: 0;
  z-index: 100;
  font-size: 14px;
  color: #369;
  text-align: center;
  line-height: 20px;
}
.lodlive-node .actionBox:nth-last-child(-n+4) { top: -4px; left: 27px; }
.lodlive-node .actionBox:nth-last-child(-n+3) { top: -9px; left: 54px; }
.lodlive-node .actionBox:nth-last-child(-n+2) { top: 0; left: 80px; }
.lodlive-node .actionBox:last-child { top: 18px; left: 104px; }

.lodlive-node .lodlive-toolbox-wrapper { position: relative; height: 0; width: 0; }
.lodlive-node .lodlive-toolbox { position: absolute; right: -20px; top: -3em; white-space: nowrap; width: auto; }
.lodlive-node .lodlive-toolbox .innerActionBox { background: #FFF; color: #369; display: inline-block; float: none; height: 20px; width: 20px; border-radius: 2px; opacity: 0.75 }
.lodlive-node .lodlive-toolbox .innerActionBox:hover { opacity: 1.0 }

.lodlive-node .relatedBox, .lodlive-node .groupedRelatedBox {
  position: absolute;
  z-index: 101;
  text-align: center;
  cursor: pointer;
  color: #369;
}

.lodlive-node .relatedBox:before {
  content: "\f111";
  font-family: FontAwesome;
  font-size: 14px;
}

.lodlive-node .groupedRelatedBox:before {
  content: "\f0a3";
  font-family: FontAwesome;
  font-size: 16px;
}
.lodlive-node .thisiscsscircle { background: #369; width: 14px; height: 14px; border-radius: 14px; }

.lodlive-docinfo {
  position: absolute;
  top: 0;
  right: 5px;
  max-width: 20%;
  max-height: 75%;
  overflow: auto;
  z-index: 150;
}
.lodlive-docinfo .section {
  padding: 0.75em;
  background: #FFF;
  color: #000;
  margin: 1px 0;
  font-size: 12px;
}
.lodlive-docinfo .section:first-child { border-radius: 8px 0 0 0; }
.lodlive-docinfo .section:last-child { border-radius: 0 0 0 8px; }
.lodlive-docinfo .section label { font-weight: bold;  }
.lodlive-docinfo .section div { text-indent: 2em; margin: 0.5em 0 0; }

.lodlive-message-container {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 150;
  background-color: #FFF;
  padding: 1.25em;
  font-size: 13px;
  border-radius: 0 8px 0 0;
}

.lodlive-node.pinned .lodlive-node-label { border: dashed 1px white; background-color: #9CF; }

.lodlive-node .page .pageNext {
  background-position: -1390px -412px;
  cursor: pointer;
  position: absolute;
  width: 16px;
  height: 16px;
  border: 0;
  z-index: 101;
  text-align: center;
}

.lodlive-node .page .pagePrev {
  background-position: -1414px -410px;
  cursor: pointer;
  position: absolute;
  width: 16px;
  height: 16px;
  border: 0;
  z-index: 101;
  text-align: center;
}
